.outer,
.inner,
.body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.outer,
.inner {
    height: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
}

.header {
    @include trz-header;
    border: 1px solid var(--color);
    box-sizing: border-box;
    flex: 0 0 auto;
}

.body {
    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: row;
    position: relative;

    textarea,
    pre {
        flex: 0 0 50%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        overflow-x: scroll;

        @include trz-font;

        background-color: var(--background-color);
        color: white;
        border: 0;
        padding: var(--padding);
    }

    textarea,
    textarea:focus {
        border: none;
        outline: none;
        resize: none;
        @include trz-no-outline;
        border-right: 1px solid var(--color);
    }

    .resize-bar {
        position: relative;

        width: 0;
        height: 100%;
        z-index: 100;

        >div {
            --padding: 3px;
            --width: 5px;
            position: absolute;
            padding-left: var(--padding);
            padding-right: var(--padding);
            height: 100%;
            left: calc(-1 * var(--padding));
            cursor: col-resize;

            >div {
                position: absolute;
                width: 0;
                height: 100%;
                left: 50%;
                transform: translateX(-50%) scaleX(1);
                transform-origin: center;
                transition-duration: 0.2s;
            }

            &:hover>div {
                width: var(--width);
                background-color: var(--color);
            }
        }

    }
}

.conversions {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .tabs {
        --link-underline-thickness: 4px;
        height: 100%;
    }

    .titles {
        @include trz-header;

        background-color: var(--background-color);
        border: 1px solid var(--color);
        border-left: none;
        border-top: none;

        @include prevent-user-select;
    }

    .titles>ul {
        @include trz-header;
        overflow-x: scroll;
        overflow-y: hidden;
        @include no-scroll-bar;
    }

    .title {
        height: 100%;

        padding-top: calc(var(--padding) - var(--link-underline-thickness));
        padding-bottom: calc(var(--padding) - var(--link-underline-thickness));

        cursor: pointer;
        color: var(--color);

        &:hover,
        &.selected {
            color: var(--selected-color);
            background-color: var(--selected-background-color);
        }

        &>div {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }
    }

    .items {
        flex: 1;
        min-height: 0;

        &>ul {
            height: 100%;

            &>li {
                height: 100%;
            }
        }
    }

    .item {
        height: 100%;
    }


    .title-span {
        white-space: nowrap;
    }
}
