html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

html {
    border-width: 0px;
}

body {
    border: 1px solid black;

    font-family: courier-new, courier, monospace;
    font-size: 15px;
    font-kerning: none;

    --color: green;
    --link-color: green;
    --background-color: black;
    --padding: 5px;
    background-color: var(--background-color);
}

@mixin nowrap {
    overflow-x: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}

@mixin no-scroll-bar {

    // Chrome, Safari and Opera
    &::-webkit-scrollbar {
        display: none;
    }

    // IE and Edge
    -ms-overflow-style: none;

    // Firefox
    scrollbar-width: none;
}

@mixin prevent-user-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

@mixin trz-icon($size: 15px) {
    display: block;
    height: $size;
    border: 0;
    margin: 0px;
    padding: 0px;
    filter: invert(1);
}
