.outer,
.inner {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
}

.header {
    @include trz-header;
    border: 1px solid var(--color);
    box-sizing: border-box;
    flex: 0 0 auto;
}

.port-forwards {
    --half-padding: calc(var(--padding) / 2);

    .port-forward {
        width: fit-content;
        border: 1px solid var(--color);
        margin-top: var(--half-padding);
        padding: var(--half-padding);

        &:last-child {
            border-bottom: 0;
        }

        .title {
            margin: var(--half-padding);
        }

        .port-forward-body {
            display: flex;
            flex-direction: row;

            .from {}

            .to {}

            .status {
                margin: var(--half-padding);
                margin-left: auto;
                filter: invert(1);
                margin-bottom: auto;
            }
        }
    }

    .host-port-definition {
        margin: var(--half-padding);
        border: 1px solid var(--color);

        .endpoint {
            background-color: var(--color);
            padding: var(--half-padding);
        }

        .remote,
        .host,
        .port {
            padding: var(--half-padding);
        }
    }
}
