name: Merge validation
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    name: Sanity checks
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"
      - uses: ./.github/actions/check

  test:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup
        uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"

      - name: Test client
        uses: ./.github/actions/test-client

      - name: Test server
        uses: ./.github/actions/test-server

      - name: Test client & server
        uses: ./.github/actions/test-both

  build:
    runs-on: ubuntu-latest
    name: Compilation check
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"
      - uses: ./.github/actions/build
